.custom-hidden {
    opacity: 0;
    transform: rotateY(-90deg);
    transition: all 1.6s ease-in;
}

.custom-shown {
    background: #7e381a;
    opacity: 1;
    transform: rotateY(0deg);
    transition: all 1.6s ease-in;
}

.custom-hidden.card,
.custom-shown.card {
    margin-top: 0;
    margin-bottom: 0;
}

.custom-shown .card-title {
    display: block;
    width: 100%;
    background: rgba(130, 173, 199, 0.6);
}

.custom-img {
    filter: grayscale(60%);
}

.custom-img:hover {
    filter: grayscale(40%);
}

.custom-show-card-btn,
.custom-card-shown-btn {
    position: absolute;
    left: calc(50% - 22px);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: all 1.6s ease-in;
}

.custom-show-card-btn,
.custom-show-card-btn:active,
.custom-show-card-btn:focus {
    background: #fff;
}

.custom-show-card-btn:hover {
    background: #ddd;
}

.custom-card-shown-btn,
.custom-card-shown-btn:active,
.custom-card-shown-btn:focus {
    background: #f44336;
}

.custom-card-shown-btn:hover {
    background: #d32f2f;
}

@media(max-width: 600px) {
    .custom-show-card-btn,
    .custom-card-shown-btn {
        left: calc(90% - 22px);
    }
}