html {
    scroll-behavior: smooth;
}

.container {
    width: 80%;
}

.custom-body {
    background: #656db6;
}

.custom-body .row {
    margin-bottom: 0;
}

.custom-body .row:first-child {
    padding-top: 20px;
}

.custom-body .row:last-child {
    padding-bottom: 20px;
}

.custom-right-col {
    margin-left: -4px !important;
    padding-bottom: 20px !important;
    border-left: 4px solid #fff;
    transition: all 1.6s ease-in;
}

.custom-left-col {
    padding-bottom: 20px !important;
    border-right: 4px solid #fff;
    transition: all 1.6s ease-in;
}

.right-col-green {
    margin-left: -4px !important;
    padding-bottom: 20px !important;
    border-left: 4px solid #26a69a;
    transition: all 1.6s ease-in;
}

.left-col-green {
    padding-bottom: 20px !important;
    border-right: 4px solid #26a69a;
    transition: all 1.6s ease-in;
}

.custom-right-col .card,
.right-col-green .card {
    margin-left: 60px;
}

.custom-left-col .card,
.left-col-green .card {
    margin-right: 60px;
}

.custom-hidden {
    opacity: 0;
    transform: rotateY(-90deg);
    transition: all 1.6s ease-in;
}

.custom-shown {
    background: #7e381a;
    opacity: 1;
    transform: rotateY(0deg);
    transition: all 1.6s ease-in;
}

.custom-hidden.card,
.custom-shown.card {
    margin-top: 0;
}

.custom-hidden.card,
.custom-shown.card {
    margin-bottom: 0;
}

.custom-shown .card-title {
    display: block;
    width: 100%;
    background: rgba(130, 173, 199, 0.6);
}

.custom-img {
    filter: grayscale(60%);
}

.custom-img:hover {
    filter: grayscale(40%);
}

.custom-show-card-btn {
    position: absolute;
    left: calc(50% - 22px);
    height: 40px;
    width: 40px;
    background: #fff;
    border-radius: 50%;
    transition: all 1.6s ease-in;
}

.custom-show-card-btn:active,
.custom-show-card-btn:focus {
    background: #fff;
}

.custom-show-card-btn:hover {
    background: #ddd;
}

.custom-card-shown-btn {
    position: absolute;
    left: calc(50% - 22px);
    height: 40px;
    width: 40px;
    background: #f44336;
    border-radius: 50%;
    transition: all 1.6s ease-in;
}

.custom-card-shown-btn:active,
.custom-card-shown-btn:focus {
    background: #f44336;
}
